<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
    <link rel="stylesheet" th:href="@{/css/add-car.css}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script th:src="@{/js/add-car.js}"></script>

</head>

<body>

<div class="page-wrapper">

    <div class="top-bar">
    <a href="/agent-dashboard/cars-management" class="back-btn top-back">
        <i class="fa-regular fa-circle-left"></i>
        Go Back
    </a>

    <div class="agent-greeting">
           <span id="agentNameBadge">
          <i class="fa-solid fa-user-tie"></i>
          Agent :
           <span th:text="${agent != null ? agent.prenume + ' ' + agent.nume : 'Unknown Agent'}">
          </span>
        </span>
    </div>
    </div>

<div class="container">

    <h1>New Car <i class="fa-solid fa-car-rear"></i> </h1>

    <!-- ========== SUCCESS MESSAGE (GREEN) ========== -->
    <p id="successMessage"
       th:if="${successMessage}"
       th:utext="${successMessage}"
       class="success-message">
    </p>

    <!-- ERROR MESSAGE -->
    <p id="errorMessage"
       th:if="${errorMessage}"
       th:utext="${errorMessage}"
       class="error-message-big">
    </p>

    <form th:action="@{/agent-dashboard/cars-management/add-car}"
          method="post"
          onsubmit="validateAddCarForm(event)">

        <!-- BRAND -->
        <span class="error-msg" id="error-brand"></span>
        <label class="goDown">Brand:</label>
        <select name="brandName">
            <!-- PLACEHOLDER -->
            <option value=""
                    disabled
                    th:selected="${brandName == null}">
                Select brand
            </option>
            <option th:each="b : ${brands}"
                    th:value="${b.nume}"
                    th:text="${b.nume}"
                    th:selected="${b.nume == brandName}">
            </option>
        </select>


        <!-- MODEL -->
        <span class="error-msg" id="error-model"></span>
        <label class="goDown">Model:</label>
        <input type="text" name="model" placeholder="e.g. Model S"  th:value="${model}">

        <!-- PROVIDER -->
        <span class="error-msg" id="error-provider"></span>
        <label class="goDown">Provider:</label>
        <select name="providerName">
            <!-- PLACEHOLDER -->
            <option value=""
                    disabled
                    th:selected="${providerName == null}">
                Select provider
            </option>
            <option th:each="p : ${providers}"
                    th:value="${p.nume}"
                    th:text="${p.nume}"
                    th:selected="${p.nume == providerName}">
            </option>
        </select>


        <!-- YEAR -->
        <span class="error-msg" id="error-year"></span>
        <label class="goDown">Year:</label>
        <input type="number" name="an" placeholder="e.g. 2019" th:value="${an}">

        <!-- KM -->
        <span class="error-msg" id="error-km"></span>
        <label class="goDown">Kilometers:</label>
        <input type="number" name="kilometraj"  placeholder="e.g. 150000" th:value="${kilometraj}">

        <!-- FUEL -->
        <span class="error-msg" id="error-fuel"></span>
        <label class="goDown">Fuel:</label>
        <select name="combustibil">
            <option value="" disabled
                    th:selected="${combustibil == null}">
                Select fuel type
            </option>

            <option value="petrol"
                    th:selected="${combustibil == 'petrol'}">
                petrol
            </option>

            <option value="diesel"
                    th:selected="${combustibil == 'diesel'}">
                diesel
            </option>

            <option value="electric"
                    th:selected="${combustibil == 'electric'}">
                electric
            </option>

            <option value="hybrid"
                    th:selected="${combustibil == 'hybrid'}">
                hybrid
            </option>
        </select>

        <!-- TRANSMISSION -->
        <span class="error-msg" id="error-trans"></span>
        <label class="goDown">Transmission:</label>
        <select name="transmisie">
            <option value="" disabled
                    th:selected="${transmisie == null}">
                Select type
            </option>

            <option value="manual"
                    th:selected="${transmisie == 'manual'}">
                manual
            </option>

            <option value="automatic"
                    th:selected="${transmisie == 'automatic'}">
                automatic
            </option>
        </select>

        <!-- COLOR -->
        <span class="error-msg" id="error-color"></span>
        <label class="goDown">Color:</label>
        <input type="text"
               name="culoare"
               placeholder="e.g. White"
               th:value="${culoare}">

        <!-- PRICE -->
        <span class="error-msg" id="error-price"></span>
        <label class="goDown">Purchase Price (€):</label>
        <input type="number"
               name="pretAchizitie"
               placeholder="e.g. 12500"
               th:value="${pretAchizitie}">

        <!-- SELLING PRICE -->
        <span class="error-msg" id="error-selling-price"></span>
        <label class="goDown">Selling Price (€):</label>
        <input type="number"
               name="pretVanzare"
               id="pretVanzare"
               placeholder="e.g. 15000"
               min="0"
               step="0.01"
               th:value="${pretVanzare}">

        <label class="goDown">Markup (%):</label>
        <input type="text"
               id="priceMarkup"
               class="readonly-input"
               placeholder="------"
               readonly>


        <!-- DOORS -->
        <span class="error-msg" id="error-doors"></span>
        <label class="goDown">Doors:</label>
        <input type="number"
               name="usi"
               placeholder="e.g. 4"
               th:value="${usi}">

        <!-- SEATS -->
        <span class="error-msg" id="error-seats"></span>
        <label class="goDown">Seats:</label>
        <input type="number"
               name="locuri"
               placeholder="e.g. 5"
               th:value="${locuri}">

        <!-- VIN -->
        <span class="error-msg " id="error-vin"></span>
        <label class="goDown">VIN:</label>
        <input type="text" name="vin" placeholder="e.g. BMW2019X5X00007" th:value="${vin}">

        <!-- Stock Entry Date -->
        <span class="error-msg" id="error-entry-date"></span>
        <label class="goDown" >Stock Entry Date:</label>
        <input type="date" name="dataIntrare" th:value="${dataIntrare}">

        <button type="reset" class="reset-btn" onclick="clearCarForm()">Clear Form</button>


        <button type="submit" class="submit-btn" id="addCarBtn">
            <i class="fa-solid fa-plus" id="addCarPlus"></i>
            <span id="addCarText">Add Car</span>
            <i class="fa-solid fa-spinner spin-icon" id="addCarSpinner"></i>
        </button>
    </form>

</div>
</div>

</body>
</html>
