<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">

    <title>Agent Dashboard</title>

    <!-- CSS specific -->
    <link rel="stylesheet" href="/css/agent-dashboard.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
</head>
<body>

<div class="page-wrapper">

    <div class="top-bar">
    <a href="/" class="back-btn top-back">
        <i class="fa-regular fa-circle-left"></i>
        Go Back
    </a>

    <div class="agent-greeting">
    <span id="agentNameBadge">
        Hello, <span th:text="${agent.prenume} + ' ' + ${agent.nume}">Agent</span>!
        <i class="fa-regular fa-hand-spock"></i>
    </span>
    </div>

    </div>


    <h1 class="dashboard-title">Welcome, Sales Agent!</h1>
    <p class="dashboard-subtitle">Choose a management area</p>

    <div class="dashboard-grid">

        <div class="dashboard-card" onclick="location.href='/agent-dashboard/cars-management'">
            <h2>Cars Management</h2>
            <p>
                Add new vehicles, manage brands and providers,edit listings and control the inventory lifecycle
            </p>


        </div>

        <div class="dashboard-card" onclick="location.href='/agent-dashboard/sales'">
            <h2>Sales Management</h2>
            <p>Register sales, assign customers, view your results and analyze trends</p>
        </div>

    </div>

</div>

</body>
</html>
