<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Login</title>
    <link rel="stylesheet" th:href="@{/css/client-login.css}" />
    <script th:src="@{/js/client-login.js}"></script>
</head>

<body>

<div class="page-wrapper">

<div class="login-box">

    <h1>Client Login</h1>

    <p th:if="${error}" th:text="${error}" class="error-message"></p>

    <form id="loginForm" action="/client-login" method="post">
        <input id="email" type="email" name="email" placeholder="Email" required>

        <input  id="password" type="password" name="password" placeholder="Password" required>

        <button type="submit">Sign In</button>
    </form>

</div>

    <button type="button" id="demoLoginBtn" class="demo-btn">
        Demo Login
    </button>
<a href="/client"  class="back-btn">← Back to Offers</a>

</div>

</body>
</html>
