<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Client Account</title>
    <link rel="stylesheet" th:href="@{/css/client-register.css}" />
    <script src="/js/client-register.js"></script>
</head>

<body>
<div class="page-wrapper">
    <div class="register-box">
        <h1>Create Client Account</h1>

        <p th:if="${success}" th:text="${success}" class="success-message"></p>
        <a th:if="${success}" href="/client-login" class="go-login-btn"
        >→ Go sign in to see what we offer!</a
        >
        <p th:if="${error}" th:text="${error}" class="error-message"></p>

        <form action="/client-register" method="post">
            <label>Client Type</label>
            <select
                    name="tip_client"
                    id="tip_client"
                    onchange="updateClientType()"
                    required
            >
                <option value="persoana fizica">Individual</option>
                <option value="firma">Company</option>
            </select>

            <label>Email</label>
            <input type="email" name="email" required />

            <label>Password</label>
            <input type="password" name="password" required />

            <label>First Name</label>
            <input type="text" name="nume" required />

            <label>Last Name</label>
            <input type="text" id="prenume" name="prenume" />

            <label>CNP</label>
            <input type="text" id="cnp" name="cnp" />

            <label>CUI</label>
            <input type="text" id="cui" name="cui" />

            <label>Phone</label>
            <input type="text" name="telefon" required />

            <label>Address</label>
            <input type="text" name="adresa" />

            <button type="submit">Create Account</button>
        </form>
    </div>

    <div class="back-container">
        <a href="/client" class="back-btn">← Back to offers</a>
    </div>
</div>
</body>
</html>
