<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Login</title>
    <link rel="stylesheet" th:href="@{/css/manager-login.css}" />
</head>

<body>
<div class="page-wrapper">
<div class="login-box">
    <h1>Manager Login</h1>

    <!-- Error message -->
    <p th:if="${error}" th:text="${error}" class="error-message"></p>

    <form action="/manager-login" method="post">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Sign In</button>
    </form>
</div>

<a href="/" class="back-btn">← Back to Home</a>
</div>

</body>
</html>
