/* ====== Background general ====== */
body {
    font-family: Arial, sans-serif;
    background: #eaffea;       /* verde foarte deschis */
    margin: 0;
    padding: 0;
}

/* ====== Wrapper centralizat ====== */

.page-wrapper {
    position: relative;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    border: 3px solid #2bff06;
    border-left: 3px solid #d0d0d0;
    border-right: 3px solid #d0d0d0;

    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* ====== Titlu mare ====== */
.dashboard-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;

    color: #0f5f0f;
    margin-top: 40px;
    font-size: 42px;
}

/* Subtitlu */
.dashboard-subtitle {
    text-align: center;
    font-size: 22px;
    color: #064f06;
    margin-bottom: 40px;
}


/* ====== Card-uri funcționale ====== */
.dashboard-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.dashboard-card {
    width: 340px;
    height: 180px;
    background: white;
    padding: 45px 25px  25px 25px;
    border-radius: 14px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.25s ease;
    cursor: pointer;
    border-top: 7px solid #136f31;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.18);
}

.dashboard-card h2 {
    font-size: 26px;
    color: #166534;
    margin-bottom: 10px;
}

.dashboard-card p {
    font-size: 22px;

    line-height: 1.4;
}

/* ===== Personal Logged in ===== */
.agent-greeting {
    position: absolute;
    top: 25px;
    right: 40px;
}

#agentNameBadge {
    display: inline-block;
    background: #136f31;
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    letter-spacing: 0.5px;
    cursor: default;
    transition: background 0.25s, transform 0.25s;
}

/* efect mic de hover */
#agentNameBadge:hover {
    background: #0f5a27;
    transform: translateY(-3px);
}

#agentNameBadge i {
    font-size: 24px;   /* schimbă cu ce mărime vrei */
}



.back-btn {
    display: inline-flex;
    align-items: center;
    margin: 20px;
    padding: 8px 15px;
    background-color: #1a531b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    transition: background 0.25s, transform 0.25s;
}

.back-btn:hover {
    background-color: #0d3a0e;
    transform: translateY(-3px);
}

.back-btn {
    display: inline-flex;
    align-items: center;
    margin: 20px;
    padding: 8px 15px;
    background-color: #1a531b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    transition: background 0.25s, transform 0.25s;
}

.back-btn:hover {
    background-color: #0d3a0e;
    transform: translateY(-3px);
}

.back-btn i {
    font-size: 30px;
    margin-right: 8px;
}



.back-btn i {
    font-size: 30px;
    margin-right: 8px;
}



#agentNameBadge {
    display: inline-block;
    background: #1a531b;
    color: white;
    padding: 10px 22px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    letter-spacing: 0.5px;
    cursor: default;
    transition: background 0.25s, transform 0.25s;
    margin-top: 9px;
    margin-right: 20px;
}

/* efect mic de hover */
#agentNameBadge:hover {
    background: #0d3a0e;
    transform: translateY(-3px);
}

#agentNameBadge i {
    font-size: 26px;
    margin-left: 6px;
}

.dashboard-card i {
    margin-top:-24px;
    font-size:50px;
    color:  #0f5f0f;
}