/* ====== Background general ====== */
body {
    font-family: Arial, sans-serif;
    background: #eaffea;       /* verde foarte deschis */
    margin: 0;
    padding: 0;
}

/* ====== Wrapper centralizat ====== */

.page-wrapper {
    position: relative;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;

    border: 3px solid #2bff06;
    border-left: 3px solid #d0d0d0;
    border-right: 3px solid #d0d0d0;
    min-height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.back-btn {
    display: inline-flex;
    align-items: center;
    margin: 20px;
    padding: 8px 15px;
    background-color: #1a531b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 22px;
    transition: background 0.25s, transform 0.25s;
}

.back-btn:hover {
    background-color: #0d3a0e;
    transform: translateY(-3px);
}

.back-btn i {
    font-size: 30px;
    margin-right: 8px;
}

.login-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top : 120px;

}

.login-box {
    background: white;
    width: 380px;
    padding: 30px 35px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color:  #1a531b;
    font-size: 38px;
    margin-top: -10px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color:  #1a531b;
    font-size: 26px;
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-size: 22px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0f9d23; /* green button */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #0b7a1b;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}


.demo-btn {
    background: #0f9d23;
    width: 220px;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}
.demo-btn:hover {
    background: #0b7a1b;
}


.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 94%;
}

/* Icon eye */
.password-toggle {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #1a531b;
    cursor: pointer;
    transition: color 0.2s ease;
}

.password-toggle:hover {
    color: #0b7a1b;
}

.password-toggle {
    opacity: 0.7;
}

.password-toggle:hover {
    opacity: 1;
}
