body {
    background: #eef3ff;
}

.page-wrapper{
    border: 3px solid #005dff;
    border-left: 3px solid #d0d0d0;
    border-right: 3px solid #d0d0d0;
}

.back-btn {
    background-color: #133b95;
}

.back-btn:hover {
    background-color: #09225a;
}

h1 {
    color:  #133b95;
}

button {
    background: #0353dc;
}
button:hover {
    background: #133b95;
}

.demo-btn {
    background: #0353dc;
}
.demo-btn:hover {
    background: #133b95;
}

.password-toggle {
    color: #0353dc;
}

.password-toggle:hover {
    color: #133b95;
}

label {
    color:  #133b95;
}

.registerButton {
    background: #0353dc;
}

.registerButton:hover{
    background: #133b95;
}


.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 94%;
}

/* Icon eye */
.password-toggle {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #0353dc;
    cursor: pointer;
    transition: color 0.2s ease;
}

.password-toggle:hover {
    color: #133b95;
}

.password-toggle {
    opacity: 0.7;
}

.password-toggle:hover {
    opacity: 1;
}

/* Stilizare pentru linkul către login după success */
.go-login-btn {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #133b95;
    text-decoration: none;
    margin: 20px auto;
    padding: 12px 20px;
    transition: all 0.3s ease;
    max-width: 400px;
}

.go-login-btn:hover {
    text-decoration: underline;
}