body {
    font-family: Arial, sans-serif;
    background: #eef3ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-container {
    margin-top: 10px;
    text-align: center;
}

.register-box {
    background: white;
    width: 450px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a8a;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #162c6b;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.go-login-btn {
    display: block;
    margin-top: 15px;
    color: #1e3a8a;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.go-login-btn:hover {
    text-decoration: underline;
}

.back-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #3a0ca3;
    text-decoration: none;
}

.back-btn:hover {
    text-decoration: underline;
}
