body {
    background: #fff7d6;
}

.page-wrapper{
    border: 3px solid #f4da28;
    border-left: 3px solid #d0d0d0;
    border-right: 3px solid #d0d0d0;
}

.back-btn {
    background-color: #b8860b;
}
.back-btn:hover {
    background-color: #775809;
}

h1 {
    color:  #b8860b;
}

button {
    background: #f4da28;
}
button:hover {
    background: #baa61d;
}

.demo-btn {
    background: #f4da28;
}

.demo-btn:hover {
    background: #baa61d;
}

.password-toggle {
    color:  #baa61d;
}

.password-toggle:hover {
    color: #8b6508;
}

label {
    color:  #b8860b;
}